[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "spnn"]
	path = spnn
	url = https://github.com/romin-ebrahimi/spnn
	shallow = true
	registered = true
